<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beer Distribution Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quantico&display=swap" 
    rel="stylesheet">  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" 
    rel="stylesheet"> 
</head>
<body>
    <header><a href="{% url 'goindex'%}">Beer Distribution Game</a></header>    

    <div class = "login-form">
        <h2>Custom Login</h2>
        <form method="post">
            <div class="div-login">
                <div class="container1">
                    <input type="text" placeholder="Your Email" name="email" >
                    <input type="password" placeholder="Password" name="psw" >
                    <div class="clearfix">
                        <button type="submit" class="signupbtn">Log In</button>
                    </div>
                </div> 
                <div class="container2">
                    <figure><img src="images/login.png" alt="login image"></figure>
                    <p class="p2">Don't have an account? <a href="{% url 'cus_reg'%}"><u>Create an account</u></a>.</p>
                    
                </div>
            </div>
            
        </form>
    </div> 
</body>
</html>