<html>
<head>
  <title>Beer Distribution Game</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css'%}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quantico&display=swap" 
  rel="stylesheet">  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" 
  rel="stylesheet"> 
</head>

<body>
  <header><a href="{% url 'goindex'%}">Beer Distribution Game</a></header>
  <div class = "signup-form">
    <h2>Instructor Registration</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="div-signup">
        <div class="container1">
          <p class="p1">Please fill in this form to create an account</p>
          <input type="text" placeholder="First Name" name="FirstName" required>
          <input type="text" placeholder="Last Name" name="LastName" required>
          <input type="text" placeholder="Your Email" name="Email" required>
          <input type="password" placeholder="Password" name="Password" required>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
          <div>
            <button type="submit" class="signupbtn">Register</button>
          </div> 
        </div>
        <div class="container2">
          <figure><img src="images/login.png" alt="login image"></figure>
          <p class="p2">Already have an account? <a href="{% url 'ins_log'%}"><u>Sign in</u></a>.</p>
        </div>
        
      </form>
    </div> 

  </body>
  </html>