<form method="POST" action="{% url 'game:create_game' %}">
    {% csrf_token %}
    {{form1.as_p}}
    {{form2.as_p}}
    <!-- errors from the first form
    <div class="errorlist" style="color: red">
        {% for field, error in form1.errors.items %}
        {% if field != '__all__' %}{% endif %} 
        <br>
        {{ error | striptags }}
        <br>
        {% endfor %}
    </div>
    errors from the second form
    <div class="errorlist" style="color: red">
        {% for field, error in form2.errors.items %}
        {% if field != '__all__' %}{% endif %} 
        <br>
        {{ error | striptags }}
        <br>
        {% endfor %}
    </div>

    errors specified in the views
    <div class="errorlist" style="color: red">
        {% for message in messages %}
          <p id="messages">{{message}}</p>
        {% endfor %}
    </div> -->
    <input type="submit" value="Create">
</form>