{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beer Distribution Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'game/game-view-style.css' %}" />
</head>

<body>
    <div id="container-game-view">

        <!-- SCREEN 1 -->
        <div id="div1" class="quadrant"> 
            <div class="card game-view-quadrant rounded-5 border-0 shadow-lg">
                <div style="text-align: left;">
                    <a href="{% url 'game:join' %}" id="back-btn"><i class="fas fa-sign-out-alt" style="transform: rotate(180deg); padding-left: 5px;"></i>Back to Games</a>
                </div>
                <h5><span style="color: #214da3; font-weight: 700;">{{role.role_name}} - GAME {{game.id}} - WEEK {{current_week_role.number}}</span><br>INPUT SCREEN</h5>
                  {%if completed == False %}  
                    {% if current_week_role.order_placed == -1 %}
                        <div class="table-cont">
                            <table class="table-input-screen">
                                <tr>
                                    {% if downstream_role.role_name %}
                                        <td>
                                            Demand from {{downstream_role.role_name}}:
                                        </td>
                                    {% else %}
                                        <td>
                                            Demand from {{downstream_role}}:
                                        </td>
                                    {% endif %}
                                    <td class="value" id="demand">
                                        {{current_week_role.demand}}
                                    </td>
                                    <td>
                                        Beginning Inventory:
                                    </td>
                                    <td class="value" id="inventory">
                                        {{current_week_role.inventory}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-bottom: 1px solid grey;">
                                        Backorder:
                                    </td>
                                    <td class="value" id="backlog">
                                        {{current_week_role.backlog}}
                                    </td>
                                    <td style="border-bottom: 1px solid grey;">
                                        Incoming Shipment:
                                    </td>
                                    <td class="value" id="incoming_shipment">
                                        {{current_week_role.incoming_shipment}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Total Requirements:
                                    </td>
                                    <td class="value" id="total_requirements">
                                        {{total_requirements}}
                                    </td>
                                    <td>
                                        Total Available:
                                    </td>
                                    <td class="value" id="total_available">
                                        {{total_available}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                

                       <!--  <div class="s1-details">
                            Units Shipped to Retailer this week: {units} <br>
                            Ending inventory: {{new_inventory}} <br>
                        </div> -->
                        
                        <div class="my-3">Place your order: </div>
                        <form action="{% url 'game:enterGame' role.id %}" method="post" class="form-inline justify-content-center">
                            {% csrf_token %}
                            <div class="form-group mx-sm-3 mb-2">
                                <input type="number" name="order_placed" id="order_placed" class="form-control text-center">
                            </div>
                            <input type="submit" class="btn btn-primary mb-2"/>
                        </form>

                    {%else%}
                    <div class="order-is-placed">
                        <!-- display order to upstream, order shipped to downstream, current inventory, current cost -->
                        Your order is: <b>{{current_week_role.order_placed}}</b> <br>
                        Your shipment is: <b>{{current_week_role.outgoing_shipment}}</b><br>
                        Inventory at week {{current_week_role.number}}: <b>{{current_week_role.inventory}}</b> <br>
                        Current cost: <b>{{current_week_role.cost}}</b> <br>

                        <p>Please wait until all orders have been placed to proceed to the next week.</p>
                    </div>
                    {%endif%}
                {%else%}
                <h1>Game completed for you!</h1>
                {%endif%}
            </div>
        </div>

        <!-- SCREEN 2 -->
        <div id="div2" class="quadrant">
            <div class="card game-view-quadrant rounded-5 border-0 shadow-lg">
                <h5>{{role.role_name}} INFORMATION FOR ALL WEEKS</h5>
                <div class="table-cont">
                    <table class="table-input-screen table-weeks" id="table-weeks" border="1">
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Inventory</th>
                                <th>Backlog</th>
                                <th >Demand</th>
                                <th>Incoming Shipment</th>
                                <th>Outgoing Shipment</th>
                                <th>Order Placed</th>
                                <th>Cost</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% if last_weeks %}
                                {% for week in last_weeks %}
                                        <tr>
                                            <td>{{week.number}}</td>
                                            <td>{{week.inventory}}</td>
                                            <td>{{week.backlog}}</td>
                                            <td>{{week.demand}}</td>
                                            <td>{{week.incoming_shipment}}</td>
                                            <td>{{week.outgoing_shipment}}</td>
                                            <td>{{week.order_placed}}</td>
                                            <td>{{week.cost}}</td>
                                        </tr>
                                {% endfor %}
                                <!-- Showing even the last week if the game is completed -->
                                {%if completed == True %}
                                <tr>
                                    <td>{{current_week_role.number}}</td>
                                    <td>{{current_week_role.inventory}}</td>
                                    <td>{{current_week_role.backlog}}</td>
                                    <td>{{current_week_role.demand}}</td>
                                    <td>{{current_week_role.incoming_shipment}}</td>
                                    <td>{{current_week_role.outgoing_shipment}}</td>
                                    <td>{{current_week_role.order_placed}}</td>
                                    <td>{{current_week_role.cost}}</td>
                                </tr>
                                {%endif%}
                            {% else %}
                                <p>There are no weeks</p>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- SCREEN 3 -->
        <div id="div3" class="quadrant">
            <div class="card game-view-quadrant rounded-5 border-0 shadow-lg">
                <!-- Should also display current week -->
                <h5>STATUS OF OTHER SUPPLY CHAIN MEMBERS - WEEK {{current_week_role.number}}</h5>
                <div class="order-status">
                    <p>Once all players have placed an order, you can proceed to the next week.</p>
                    <table class="status-table" style="text-align: left;">
                        <thead>
                            <tr>
                                {% if role.role_name == 'factory' %}
                                    <th>Retailer</th>
                                    <th>Wholesaler</th>
                                    <th>Distributor</th>
                                {% elif role.role_name == 'distributor' %}
                                    <th>Retailer</th>
                                    <th>Wholesaler</th>
                                    <th>Factory</th>
                                {% elif role.role_name == 'wholesaler' %}
                                    <th>Retailer</th>
                                    <th>Distributor</th>
                                    <th>Factory</th>
                                {% else %}
                                    <th>Wholesaler</th>
                                    <th>Distributor</th>
                                    <th>Factory</th>
                                {% endif %}
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                            {% for i in other_weeks %}
                                {% if i.order_placed == -1 %}
                                    <td style="color: red;">Order not placed</td>
                                {% else %}
                                    <td style="color: green;">Order placed</td>
                                {%endif%}
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Display this once all orders have been placed -->
                <!-- <div class="all-orders-placed">
                    <p>All orders have been placed for week {{current_week_role.number}}. You can now proceed to the next week.</p>
                    <a href="" type="button" class="btn btn-success">Next Week >></a>
                </div> -->
                
            </div>
            
        </div>

        <!-- SCREEN 4 -->
        <div id="div4" class="quadrant">
            <div class="card game-view-quadrant rounded-5 border-0 shadow-lg">
                <h5>INVENTORY AND STATUS PLOTS - {{role.role_name}} </h5>
                <div class="plot-buttons">
                    <!-- INVENTORY PLOT -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Inventory" id="plot-btn">
                      Inventory
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="Inventory" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="Inventory-Plot">Inventory Plot</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div>{{ graph1|safe }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- DEMAND -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Demand" id="plot-btn">
                      Demand
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="Demand" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="Demand-Plot">Demand Plot</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div>{{ graph2|safe }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- INCOMING SHIPMENT PLOT -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Incoming" id="plot-btn">
                      Inc. Shipment
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="Incoming" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="Incoming-Plot">Incoming Shipment Plot</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div>{{ graph3|safe }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- OUTGOING SHIPMENT PLOT -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Outgoing" id="plot-btn">
                      Out. Shipment
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="Outgoing" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="Outgoing-Plot">Ougoing Shipment Plot</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div>{{ graph4|safe }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ORDER PLOT -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Order" id="plot-btn">
                      Order
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="Order" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="Order-Plot">Order Plot</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div>{{ graph5|safe }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PLOT ALL -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#All" id="plot-btn">
                      Plot All
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="All" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="All-Plots">All Plots</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div>{{ graph6|safe }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h5>SUPPLY CHAIN SETTINGS - {{role.role_name}}</h5>
                <div class="supply-chain-settings">
                    <table class="settings-table">
                        <tr>
                            <td>Holding cost:</td>
                            <td id="val">{{game.holding_cost}}</td>
                        </tr>
                        <tr>
                            <td>Backorder cost:</td>
                            <td id="val">{{game.backlog_cost}}</td>
                        </tr>
                        <tr>
                            <td>Downstream Player:</td>
                            {%if downstream_role.role_name %}
                            <td id="val">{{downstream_role.role_name}}</td>
                        
                            {%else%}
                            <td id="val">{{downstream_role}}</td>
                            {%endif%}
                        </tr>
                        <tr>
                            <td>Upstream Player:</td>
                            {%if upstream_role.role_name %}
                            <td id="val">{{upstream_role.role_name}}</td>
                        
                            {%else%}
                            <td id="val">{{upstream_role}}</td>
                            {%endif%}
                            <td id="val"></td>
                        </tr>
                        <tr>
                            <td>Shipping Delay:</td>
                            <td id="val">{{game.info_delay}} weeks</td>
                        </tr>
                        <tr>
                            <td>Information Delay:</td>
                            <td id="val">{{game.info_delay}} weeks</td>
                        </tr>
                    </table>
                </div>
           
            </div>
        </div>
    </div>

</body>
</html>