{% extends 'game/navbar.html' %}

{% block content %}
<div class="header-image">
    <p class="welcome-text">Welcome {{user.user.username}}</p>
</div>

<!-- Main content -->
<div class="main-container">
    <h2>Created Games</h2>
    <p>Here you can view, edit and delete all the games you have created. To join games, go to the "Join" tab.</p>
    <hr>

    <div class="form-container py-2">
        <div class="card rounded-5 border-0 shadow">
            <div class="card-body p-5">
                <!-- CREATED GAMES -->                

                <div class="cu-btns">
                    <a href="{% url 'game:create_game'%}" style="background-color: #59bd60; transition: 0.2s;"><i class="nav-icons fas fa-plus-circle"></i>Create Game</a>
                </div>

                <!--  Bootstrap table-->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                            <!-- Columns based on the screenshot prof. Chankov shows
                                but could be customized according to the game model -->
                                <th scope="col">ID</th>
                                <th scope="col">Delay</th>
                                <th scope="col">Has Wholesaler</th>
                                <th scope="col">Has Distributor</th>
                                <th scope="col">Holding Cost</th>
                                <th scope="col">Backlog Cost</th>
                                <th scope="col">Current Week</th>
                                <th scope="col">Week to Stop</th>
                                <th scope="col">Reset</th>
                                <th scope="col">Freeze</th>
                                <!-- Players should show a pop-up modal with the player names, roles and passwords -->
                                <th scope="col">Players</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% if game_created %}
                                {% for game in game_created %}
                                <tr>
                                    <th scope="row">{{game.id}}</td>
                                    <td>{{game.info_delay}} weeks</td>
                                    <td>{% if game.wholesaler_present == True %} Yes {% else %} No {% endif %}</td>
                                    <td>{% if game.distributor_present == True %} Yes {% else %} No {% endif %}</td> 
                                    <td>{{game.holding_cost}}</td> 
                                    <td>{{game.backlog_cost}}</td>
                                    <td>{{game.rounds_completed}}</td> 
                                    <td>{{game.nr_rounds}}</td>
                                    <td>
                                        <button class="game-btn">Reset</button>
                                    </td>
                                    <td>
                                        <button class="game-btn">Freeze</button> 
                                    </td>
                                    <td>
                                        <button type="button" class="game-btn" data-toggle="modal" data-target="#Players" id="players-btn">
                                          Players
                                        </button>
                                        <!-- Modal -->
                                        <div id="Players" class="modal fade" data-backdrop="false">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header d-block" style="cursor: move;">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h5 class="modal-title text-center">Game id Players</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Loops through players that are playing the game
                                                        Displays 'Not Applicable' if distributor or wholesaler are not present -->
                                                        <div id="players-list">
                                                            <table>
                                                                <tr>
                                                                    <th>Factory</th>
                                                                    <td>user name</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Distributor</th>
                                                                    <td>user name</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Wholesaler</th>
                                                                    <td>user name</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Retailer</th>
                                                                    <td>user name</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="{% url 'game:deleteGame' game.id %}" class="game-icon" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fas fa-trash"></i></a>
                                    </td>
                                    <td>
                                        <a href="#" class="game-icon" id="edit" data-toggle="tooltip" data-placement="bottom" title="Update"><i class="fas fa-edit"></i></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <p>There are no games to display</p>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
// Makes modal draggable
$("#Players").draggable({
    handle: ".modal-header"
});

// Sets current link as active
$('#create-link').addClass('active');
</script>

{% endblock %}